NODE_ENV=development

# Password Encryoption Key
PASSWORD_SECRET=12345

DB_USERNAME=root
DB_PASSWORD=mysqlserver8
DB_DATABASE=db_gl
DB_HOST=localhost
DB_PORT=3306
 
PORT_APP=9000

SESSION_SECRET='r8q,+&1LM3)CD*zAGpx1xm{NeQhc;#'

URL_CLIENT='localhost:3000'
EMAIL_SENDER='email@sender'
EMAIL_SERVICE='gmail'
EMAIL_USER="email_user"
EMAIL_PASSCODE="email_password"

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL=mysql://root:mysqlserver8@localhost:3306/db_gl
#DATABASE_URL=mysql://admin_hr:admin_hr123@localhost:3337/admin_hr
# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"