<header class="navbar navbar-expand-md navbar-light d-none d-lg-flex d-print-none">
    <div class="container-xl">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-nav flex-row order-md-last">
        
        <div class="nav-item dropdown">
          <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
          <span class="avatar avatar-sm" style="background-image: url(/images/img_avatar.png)"></span>
          <div class="d-none d-xl-block ps-2">
              <div><%= user.fullName %></div>
              <div class="mt-1 small text-muted"><%= user.roleName %></div>
          </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <a href="/my-profile" class="dropdown-item">My Profile</a>
          <a href="/my-annual-leave" class="dropdown-item">My Annual Leave Balance</a>
          <a href="/my-sick-leave" class="dropdown-item">My Sick Annual Balance</a>
          <div class="dropdown-divider"></div>
          <a href="/user/change-password" class="dropdown-item">Change Password</a>
          
          <div class="dropdown-divider"></div>
          <form action="/logout" method="post">
              <button class="dropdown-item" type="submit">Sign out</button>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          </form>
          </div>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <div>
          <!--<form action="." method="get">
            <div class="input-icon">
              <span class="input-icon-addon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10" cy="10" r="7" /><line x1="21" y1="21" x2="15" y2="15" /></svg>
              </span>
              <input type="text" value="" class="form-control" placeholder="Search…" aria-label="Search in website">
            </div>
          </form>-->
        </div>
      </div>
    </div>
  </header>